<div class="side-nav">
    <a href="#" class="logo">
        <img src="logo.png" alt="">
    </a>
    <ul class="nav-links">
        <li>
            <a routerLink="/dashboard" class="dashboard">
                <i class="fas fa-grid-horizontal"></i>
                <p>Dashboard</p> 
            </a>
        </li>
        <li>
            <a routerLink="/patients" class="patients">
                <p>Patients</p> 
            </a>
        </li>
        <li>
            <a routerLink="/dashboard" class="dashboard">
                <p>Other</p> 
            </a>
        </li>
        <li>
            <a routerLink="/dashboard" class="dashboard">
                <p>Settings</p> 
            </a>
        </li>
    </ul>
</div>
